@import "./fonts.css";
@import "tailwindcss";
@import "tom-select/dist/css/tom-select.css";

/* ==========================================
   Application Theme
========================================== */

:root{ 

    /* Primary */

    --primary:#2F60E8;
    --primary-dark:#214CC2;

    /* Background */

    --background:#F4F7FC;

    /* Status */

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

}

/* ==========================================
   Typography
========================================== */

body{

    font-family:"Siemreap",sans-serif;

    background:var(--background);

}

.font-title{

    font-family:"Moul",sans-serif;

}

.font-body{

    font-family:"Siemreap",sans-serif;

}

.font-table{

    font-family:"Battambang",sans-serif;

}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ==========================================
   Sidebar Collapse
========================================== */

.sidebar {
    transition: width .3s ease;
}

.sidebar.collapsed {
    width: 90px;
}

/* Hide text */
.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .sidebar-title {

    display: none;

}

/* Center icons */
.sidebar.collapsed .sidebar-item {

    justify-content: center;
    padding-left: 0;
    padding-right: 0;

}

/* Remove gap when collapsed */
.sidebar.collapsed .sidebar-item {

    gap: 0;

}

/* Hide divider */
.sidebar.collapsed hr {

    display: none;

}

/* ==========================================
   Tom Select Custom Theme
========================================== */

.ts-wrapper{
    width:100%;
}

.ts-control{

    min-height:40px !important;
    border:1px solid #D1D5DB !important;
    border-radius:12px !important;
    padding:7px 14px !important;

    font-size:14px;
    font-family: inherit;

    box-shadow:none !important;

    transition:all .2s;
}

.ts-control input{

    font-size:14px;

}

.ts-wrapper.focus .ts-control{

    border-color:#3B82F6 !important;

    box-shadow:0 0 0 4px rgb(59 130 246 / .15) !important;

}

.ts-dropdown{

    margin-top:6px;

    border-radius:12px;

    border:1px solid #E5E7EB;

    overflow:hidden;

}

.ts-dropdown .option{

    padding:10px 14px;

    font-size:14px;

}

.ts-dropdown .active{

    background:#EFF6FF;

    color:#2563EB;

}

.ts-control>.item{

    font-size:14px;

}
.filter-toolbar .ts-wrapper {
    width: 100%;
}

.filter-toolbar .ts-control {
    min-height: 44px !important;
    border-radius: 12px !important;
}

.filter-toolbar .ts-dropdown {
    border-radius: 12px;
}
