/* ==========================================
   Khmer Fonts
========================================== */

@font-face {
    font-family: "Moul";
    src: url("/fonts/Moul-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Siemreap";
    src: url("/fonts/Siemreap-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
